.anunturi-h1{
    text-align: center;
    color: green;
}

.anunturi-container{
    margin-top: 2.5%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: green;
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.anunturi-sectiune{
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
}

.anunturi-h2{
    color: white;
    text-align: center;
}

.anunturi-h3{
    color: white;
    text-align: center;
    padding-top: 10px;
}

.anunturi-p{
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15px;
    margin-bottom: 15px;
    overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
}

.anunturi-separator{
    border-top: 1px dashed #fff;
    border-bottom: 1px dashed #fff;
    color: green;
}
.anunuti-buton
{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 125px;
    align-self: center;
    background-color: white;
    color: green;
    border: none;
    font-weight: bold;
    padding: 10px;
    font-size: 15px;
}

.anunuti-buton:hover{
    cursor: pointer;
    background-color: lightgrey;
}

/* .anunuti-imagine-absenta{
    margin-bottom: 10px;
}
.anunuti-imagine-prezenta{
    margin-bottom: 10px;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 10px;
    width: 100%;
    height: 100%;
} */

@media screen and (max-width: 780px) {
    .anunturi-container {
            display: flex;
            flex-direction: column;
        }
}