.container-pagina-css
{
    margin-left: clamp(2.5%,10vh,10%);
    margin-right: clamp(2.5%, 10vh, 10%);
    margin-top: clamp(2.5%, 10vh, 10%);
    margin-bottom: clamp(2.5%, 10vh, 10%);
}

.container-pagina-hr
{
    border-top: 0.5px solid #000000;
    border-bottom: 0.5px solid #000000;
}

@media screen and (max-width: 780px) {
    .container-pagina-css {
        margin-left: clamp(0%, 10vh, 0%);
        margin-right: clamp(0%, 10vh, 0%);
    }
}