.navigare-nav
{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: white;
    color: black;
    z-index: 1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}


.navigare-links
{
    display: flex;
    width: 85%;
    justify-content: flex-start;
    list-style: none;
    margin-left: 15px;
}

.navigare-img-user {
    position: absolute;
    right: 57.5px;
}

.navigare-img-user:hover {
    cursor: pointer;
}



.navigare-meniu-utilizator-content
{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 2px groove #F8F8FF;
    width: 150px;
    top: 75px;
    right: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.navigare-user-hr{
    border-bottom: 0.5px solid #000000;
    border-top: 0.5px solid #000000;
}

.navigare-meniu-utilizator-buton{
    width: 100%;
    background-color: white;
    color: black;
    border: none;
    font-weight: bold;
    padding: 10px;
    font-size: 15px;
}

.navigare-meniu-utilizator-buton:hover {
    cursor: pointer;
    color: green;
    background-color: #F8F8FF;
}

.navigare-link-css{
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: all 0.5s ease;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navigare-link-css-drop {
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: all 0.5s ease;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navigare-link-css-drop:hover {
    cursor: pointer;
    color: green;
    background-color: #F8F8FF;
}

.navigare-link-css:hover {
    cursor: pointer;
    color: green;
    background-color: #F8F8FF;
}

.header-user-hr{
    border-bottom: 0.5px solid #000000;
    border-top: 0.5px solid #000000;
}


.navigare-logo{
    width: 200px;
    margin-left: 10px;
}

.navigare-buton{
    display: none;
}

.navigare-drop{
    position: absolute;
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: white;
    border: 2px groove #F8F8FF;
    transition: all 0.5s ease-out;
    width: 175px;
    top: 70px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}



@media screen and (max-width: 780px) {
    
    .navigare-logo{
        display: flex;
        position: absolute;
        left: 30px;
        width: 125px;
    }

    .navigare-links {
        display: none;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }

    .navigare-links-mobile{
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 0;
        list-style: none;
        background-color: white;
        transition: all 0.5s ease-out;
        width: 100%;
        top: 100px;
        box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.2);
    }
    
    .navigare-link-css
    {
        color: black;
        text-align: center;    
        width: 100%;
        text-decoration: none;
        transition: all 0.5s ease;
    }

    .navigare-link-css:hover {
        cursor: pointer;
        color: green;
    }

    .navigare-link-drop {
        display: flex;
    }

    .navigare-buton{
        display: block;
        position: absolute;
        width: 30px;
        height: 30px;
        outline: none;
        border: none;
        background-color: white;
        right: 30px;
        cursor: pointer;
    }

    .navigare-drop {
        position: relative;
        width: 100%;
        top: 0px;
    }

    .navigare-img-user {
        right: 100px;
    }

    .navigare-meniu-utilizator-content
    {
        right: 40px;
    }
    
}



